@model List<Cinema.Entities.Concrete.Room>


<div class="container">
    <div class="row">
        <div class="span5">
            <table class="table table-striped table-condensed">

                <tr>
                    <th>Oda Adı</th>
                    <th>Durumu</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.Status)
                    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Status</td>
        <td>
            <span class="label label-success">Active</span>
        </td>
    </tr>
 }
else
{
<tr>
    <td>@item.Name</td>
    <td>@item.Status</td>
    <td><span class="label">Inactive</span></td>
</tr>}
            }
            </table>
        </div>
    </div>
</div>