@model Cinema.UI.Models.ViewModels.TicketAndMovieVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h6>Filmler</h6>
@await Component.InvokeAsync(name: "MovieList");
<h6>Odalar</h6>
@await Component.InvokeAsync(name: "RoomList");

<h1>Bilet Oluştur</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <input asp-for="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationId" class="control-label"></label>
                <input asp-for="ReservationId" class="form-control" />
                <span asp-validation-for="ReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDate" class="control-label"></label>
                <input asp-for="BuyDate" class="form-control" />
                <span asp-validation-for="BuyDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Bilet Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
